main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#background {
    position: fixed;
    max-height: 725px;
    max-width: 1500px;
    background-color: gray;
    border-style: groove;
    border-color: purple;
    border-width: 6px; 
    border-radius: 5px;

}

#play {
    position: fixed;
    top: 20px;
    left: 700px;
}

#scoreboard {
    color: white;
    font-family: fantasy;
    font-size: 20px;
    position: fixed;
    width: 250px;
    height: 80px;
    left: 30px;
    top: 20px;
    
 
     
}

body {
    max-height: 725px;
    max-width: 1500px;
}


    
