main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#background {
    position: fixed;
    max-height: 725px;
    max-width: 1500px;
    background-color: gray;
    border-style: groove;
    border-color: purple;
    border-width: 6px; 
    border-radius: 5px;

}
#scoreboard {
    color: white;
    
    position: fixed;
    width: 200px;
    height: 80px;
    border-style: groove;
    border-color: purple;
    border-width: 6px;
    border-radius: 5px;
     
}

body {
    max-height: 725px;
    max-width: 1500px;
}


    
